.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--header-height));
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--header-height));
}

.contentBlock {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1 0;
    height: calc(100% - var(--offset-base-size) * 10);

}
.contentBlock:nth-child(2) {
    height: calc(100% - var(--offset-base-size) * 25);
    margin-left: 40px;
}