.basketListContainer {
    display: flex;
    flex-direction: column;
    height: inherit;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: var(--common-border-radius-s);
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 308px;
    transition: all ease-in-out 0.15s;
}

.basketListContainerWaitingForIngredient {
    background-color: var(--i-accent-pale);
    border-color: var(--i-accent);
}

.basketListContainerHovered {
    box-shadow: 0 0 16px 8px rgb(51 51 255 / 25%),
                0 0 8px 8px rgb(51 51 255 / 25%);
}

.basketListBar {
    height: calc(100% - 192px);
}

.basketList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.basketListElem {
    display: flex;
    align-items: center;
}

.bullet {
    display: flex;
}

.bulletEdge{
    display: flex;
    margin-left: auto;
}

.orderInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.orderInfoPrice {
    display: flex;
    align-items: center;
}

.orderInfoPrice svg {
    width: 33px;
    height: 33px;
}