.orderDetails {
    box-sizing: border-box;
    max-height: 100%;
}

.ingredientPreview {
    /* This property is not working in Chrome, but has working in Figma - idk why? */
    /* border-image-source: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%); */
    /* Workaround in the next line */
    background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 100%;
}

.ingredientPreviewImage {
    background-position: center;
    background-size: cover;
    width: 58px;
    height: 58px;
    border-radius: 100%;
    background-color: #131316;
}

.header {
    text-align: center;
}

.orderPrice {
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.ingredients {
    box-sizing: border-box;
    height: 366px;
    padding-right: calc(var(--offset-base-size) * 6);
}

.ingredient {
    display: flex;
    align-items: center;
}
.ingredient:not(:last-child) {
    margin-bottom: calc(var(--offset-base-size) * 4);
}

.ingredientName {
    box-sizing: border-box;
    width: 414px;
}

.ingredientCountNPrice {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-shrink: 0;
}