.profile {
    /* TODO: Need ref... :-( */
    --profile-height: calc(100vh - calc(var(--header-height) - (var(--offset-base-size) * 30)) - 256px);

    display: flex;
    margin-top: calc(var(--offset-base-size) * 30);
    height: var(--profile-height);
}

.navigation {
    display: flex;
    flex-direction: column;
    flex-basis: 320px;
    flex-shrink: 0;
}

.menu {
    display: flex;
    flex-direction: column;

}

.menuItem {
    display: flex;
    align-items: center;
    height: 64px;
}

.menuItemLink {
    color: var(--text-secondary-dark-grey);
    text-decoration: none;
}
.menuItemLinkActive {
    color: var(--text-primary-light);
    cursor: default;
}

.menuDesc {

}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}