.content {
    display: flex;
    width: var(--content-width);
    box-sizing: border-box;
    margin: 0 auto;
    height: calc(100vh - 88px); /* 100vh minus header height */
}

.contentBlock {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1 0;
    height: calc(100% - var(--offset-base-size) * 10);

}
.contentBlock:nth-child(2) {
    height: calc(100% - var(--offset-base-size) * 25);
    margin-left: 40px;
}