.feedPage {
    flex-direction: column;
}

.neighboringBlocks {
    display: flex;
}

.neighboringBlocks > * {
    flex-grow: 1;
    flex-shrink: 0;
}

.feed {
    height: calc(100vh - var(--header-height) - 120px);
    padding: 8px 16px 8px 8px;
    flex-basis: 584px;
}

.doneOrdersList,
.inProgressOrdersList {
    padding: 0;
    list-style: none;
    height: 152px;
}

.doneOrder {
    color: var(--text-success);
}