@font-face {
    font-family: "JetBrains Mono";
    src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

:root {
    --content-width: 1280px;
    --header-height: 88px;
    
    --i-bg: #131316;
    --i-modal-bg: #1C1C21;
    --i-accent: #4C4CFF;
    --i-accent-pale: #4C4CFF33;

    --text-primary-light: #F2F2F3;
    --text-secondary-dark-grey: #8585AD;
    --text-success: #00CCCC;
}

html {
    font-family: 'JetBrains Mono', Arial, sans-serif;
    background-color: var(--i-bg);
    margin: 0;
    padding: 0;
}

.simplebar-scrollbar,
.simplebar-scrollbar::before {
    background-color: var(--text-secondary-dark-grey);
}

/* Common UI */
.text_align_center {
    text-align: center;
}
.text_color_error {
    color: var(--colors-interface-error);
}
.form-fields_width_100 .input__container,
.form-fields_width_100 .input {
    width: 100%;
}

