.header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 88px;
    background-color: var(--i-modal-bg);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
                0px 16px 24px rgba(0, 0, 0, 0.04),
                0px 4px 8px rgba(0, 0, 0, 0.04),
                0px 0px 1px rgba(0, 0, 0, 0.04);
}

.content {
    width: var(--content-width);
    height: 56px;
    box-sizing: border-box;
}

.menuBtn {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    color: var(--text-secondary-dark-grey);
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.menuBtnActive {
    color: var(--text-primary-light);
    cursor: default;
}

.side {
    height: 100%;
}

.leftSide {
    float: left;
}

.rightSide {
    float: right;
}

.middleSide {
    margin: 0 auto;
    width: 300px;
}
